.header, footer {
    background-color: #1f2937;
}
.info {
    background-color: white;
}
.quote {
    background-color: #e5e7eb;
}
.sign-up {
    background-color: white;
}
.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-secondary, .hero-link {
    font-size: 19px;
    color: #e5e7eb;
}
.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
}